.my-3 {
  color: #9b9b9b;
  font-size: 12px;
  display:inline-block;
  
}
/* .form1 {
  font-family: "GT Walsheim Pro";
  font-style: normal;
  font-weight: 500;
  font-size: 24px;
  line-height: 27px;

  color: #3f403f;
} */
