.tettle {
  padding-right: 893px;
}
.tetle {
  padding-right: 1165px;
  padding-bottom: 35px;
}

.words {
  
  font-size: 10px;
  line-height: 36px;
  letter-spacing: 0em;
 
}
.muted{
    color: #9B9B9B;
}
